.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
	background-color: antiquewhite;
	gap: 12px;
}

.primary {
	background-color: blueviolet;
}

.secondary {
	background-color: gray;
}

.icon {
	width: 24px;
	height: 24px;
	color: black;
}
